#!/usr/bin/make -f

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS := hardening=+all

include /usr/share/dpkg/pkg-info.mk
VERSION_UPSTREAM = $(shell echo '$(DEB_VERSION_UPSTREAM)' | sed -e 's/\+[^+]*//' -e 's/\~//')
export SETUPTOOLS_SCM_PRETEND_VERSION = $(VERSION_UPSTREAM)

export XFLAGS=$(shell dpkg-buildflags --get CFLAGS; dpkg-buildflags --get CPPFLAGS; dpkg-buildflags --get LDFLAGS)

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	# rebuild generated lexer using antlr4
	cd c/makeotf/lib/hotconv; python3 BuildGrammar.py -f

	env FORCE_SYSTEM_LIBXML2=1 dh_auto_build

override_dh_auto_clean:
	-dh_auto_clean
	# empty directory, .gitignored
	rm -rf .eggs
	rm -rf _skbuild/
